.btn {
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  color: $text-color;
  background-color: transparent;
  cursor: pointer;
  &-primary {
    background: linear-gradient($primary , darken($primary, 5%));
    color: $white;
  }
  &-lg{
    font-size: 1.1rem;
  }
}
